acl SSL_ports port 443
sslproxy_cert_error deny all

# All domains in the following file will not be Intercepted
acl NoSSLIntercept ssl::server_name_regex "/etc/squid/no-proxy.txt"

# blacklist dangerous websites
acl blackweb dstdomain -i "/etc/squid/blackweb.txt"
http_access deny blackweb

# Intercepted Traffic
http_port 3128 ssl-bump cert=/etc/squid/ssl/certificate.pem intercept generate-host-certificates=on version=1 dynamic_cert_mem_cache_size=16MB options=NO_SSLv2,NO_SSLv3,SINGLE_DH_USE
https_port 3129 ssl-bump cert=/etc/squid/ssl/certificate.pem intercept generate-host-certificates=on version=1 dynamic_cert_mem_cache_size=16MB options=NO_SSLv2,NO_SSLv3,SINGLE_DH_USE

# stop Intercepting some traffic
ssl_bump splice NoSSLIntercept

# SSL Bump Config
ssl_bump stare all
ssl_bump bump all

strip_query_terms off # Display query terms in url

http_access allow all