*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
terraform.tfstate.backup
bin/
modules-dev/
pkg/
vendor/
website/.vagrant
website/build
website/node_modules
.vagrant/
.backup
.terraform/
*.log
*.bak
~
..swp
.idea
/keys
.pem
