http_access allow all
acl SSL_ports port 443

http_port 3128

# Intercepted Traffic
https_port 3129 cert=/etc/squid/ssl/certificate.pem ssl-bump intercept generate-host-certificates=on version=1 dynamic_cert_mem_cache_size=16MB options=NO_SSLv2,NO_SSLv3,SINGLE_DH_USE

# stop Intercepting all traffic
ssl_bump splice all