file='/etc/squid/blackweb.txt'
current=`date +%s`
last_modified=`stat -c "%Y" $file`

# Check if file was modified in last two hours
if [ $(($current-$last_modified)) -gt 7200 ]; then
	# Old file, do nothing
	echo "nothing to do"
else
    # New file, so make changes
	sudo sed --in-place '/.amazon.com/d' $file
	sudo sed --in-place '/.amazon.co.uk/d' $file
fi