### SLACK RELATED DOMAINS ###
slack\.com
slack\-msgs\.com
slack\-files\.com
slack\-imgs\.com
slack\-edge\.com
slack\-core\.com
slack\-redir\.net
edgeapi\.slack\.com
wss\-primary\.slack.com
wss\-backup\.slack\.com
wss\-mobile\.slack\.com
### END OF SLACK RELATED DOMAINS ###

central\.maven\.org
repo\.maven\.apache\.org